/* add css module styles here (optional) */
.container-div {
  display: inline;
  padding: 10px;
}
.btnBasic {
  padding: 8px 16px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
  background: transparent;
}
.btnBasic:active,
.btnBasic:focus {
  transform: translateY(5px);
  box-shadow: none;
}

.rounded {
  border-radius: 80px;
}
